@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply relative z-1 font-satoshi text-base font-normal text-bodydark bg-boxdark-2;
    }
}

.containerCenter {
    max-width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Full viewport height */
  }

input{
    @apply w-full rounded-lg border-[1.5px]  bg-transparent px-5 py-3 font-normal  outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter border-form-strokedark bg-form-input text-white 
}
button {
    @apply flex justify-center rounded bg-primary p-3 font-medium text-gray hover:bg-opacity-90
}
table{
    @apply border-collapse table-auto w-full text-sm
}
table th {
    @apply border-b border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-200 text-left
}
table tbody {
    @apply bg-slate-800
}
table td {
    @apply border-b border-slate-700 p-4 pl-8 text-slate-400
}